{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="row">
        {% for photo in photos %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <!-- Display the placeholder image for all photos -->
                    <img src="{{ url_for('static', filename='images/' + photo.image) }}" class="card-img-top">
                    <div class="card-body">
                        <a href="{{ url_for('photo_detail', photo_id=photo.id) }}" class="btn btn-primary">View</a>
                        <p class="mt-2">Likes: {{ photo.likes }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}